OPENAQ_API_KEY=your_openaq_api_key_here
USGS_API_URL=https://earthquake.usgs.gov/fdsnws/event/1/query

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=environmental_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
