# Environment variables
.env

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (keep raw & processed directories, ignore cached large files)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# IDE & Editor files
.vscode/
.idea/
*.swp

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
